@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem 3.5rem 1rem 3.5rem;
}

.header-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.header-logo img {
  height: 40px;
  width: 40px;
  border: solid 2px #000000;
  padding: 2.5px;
  border-radius: 50%;
}

.header-logo a {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5rem;
  color: #000000;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.header-links span {
  font-weight: 800;
  padding: 0 0.75rem 0 0;
  font-size: 0.9rem;
}

.header-links img {
  height: 25px;
  width: 25px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  background-color: red;
}

main img {
  height: 500px;
  width: 500px;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
