@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem 3.5rem 1rem 3.5rem;
}

.header-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.header-logo img {
  height: 40px;
  width: 40px;
  border: solid 2px #000000;
  padding: 2.5px;
  border-radius: 50%;
}

.header-logo a {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5rem;
  color: #000000;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.header-links span {
  font-weight: 800;
  padding: 0 0.75rem 0 0;
  font-size: 0.9rem;
}

.header-links img {
  height: 25px;
  width: 25px;

}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  background: #4965f2;
  background: linear-gradient(
    306deg,
    rgba(73, 101, 242, 1) 0%,
    rgba(255, 82, 116, 1) 94%
  );
}

main img {
  height: 31.25rem;
  width: 31.25rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.hero-section h2 {
  font-weight: 800;
  font-size: 2rem;
}

.hero-section h1 {
  font-weight: 800;
  font-size: 3.5rem;
  color: #ffffff;
}

.hero-section h1 span {
  display: block;
}

.hero-section p {
  font-weight: 500;
  font-size: 0.9rem;
  color: #ffffff;
  max-width: 550px;
  line-height: 1.8;
}

form {
  display: flex;
  gap: 1rem;
}

.hero-section form input {
  padding: 10px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000000;
  outline: none;
  border: none;
  padding: 10px 100px 10px 10px;
}

.hero-section form button {
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  background-color: #fc466b;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 3rem;
}

footer p {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}
